@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oregano&display=swap");
* {
  padding: 0px;
  margin: 0px;
  text-decoration: none !important;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 0.5s linear;
  /* outline: 1px solid red; */
}

body,
html {
  overflow-x: hidden;
}

:root {
  /*=================== FONT-SIZE ============== */
  --fs_xs: 14px;
  --fs_sm: 16px;
  --fs_md: 20px;
  --fs_lg: 22px;
  --fs_xl: 32px;
  --fs_xxl: 40px;
  --fs_2xl: 64px;
  --fs_3xl: 82px;
  /*=================== FONT-WEIGHT ============== */
  --fw_regular: 500;
  /*=================== FONT-FAMILY ============== */
  --ff_oregano: "Oregano";
  --ff_inter: "Inter", sans-serif;
  /*=================== COLORS ============== */
  --color_white: #ffffff;
  --light_brown: #3a2314;
}
/* ================= MEDIA QUERISE FONT ======================= */
@media (max-width: 1399.98px) {
  :root {
    --fs_xs: 14px;
    --fs_sm: 16px;
    --fs_md: 20px;
    --fs_lg: 22px;
    --fs_xl: 32px;
    --fs_xxl: 40px;
    --fs_2xl: 64px;
    --fs_3xl: 82px;
  }
}

@media (max-width: 1199.98px) {
  :root {
    --fs_xs: 14px;
    --fs_sm: 16px;
    --fs_md: 20px;
    --fs_lg: 22px;
    --fs_xl: 32px;
    --fs_xxl: 40px;
    --fs_2xl: 64px;
    --fs_3xl: 82px;
  }
}

@media (max-width: 991.98px) {
  :root {
    --fs_xs: 14px;
    --fs_sm: 16px;
    --fs_md: 20px;
    --fs_lg: 22px;
    --fs_xl: 32px;
    --fs_xxl: 40px;
    --fs_2xl: 64px;
    --fs_3xl: 82px;
  }
}

@media (max-width: 767.98px) {
  :root {
    --fs_xs: 14px;
    --fs_sm: 16px;
    --fs_md: 20px;
    --fs_lg: 22px;
    --fs_xl: 32px;
    --fs_xxl: 40px;
    --fs_2xl: 64px;
    --fs_3xl: 82px;
  }
}

@media (max-width: 575.98px) {
  :root {
    --fs_xs: 14px;
    --fs_sm: 16px;
    --fs_md: 20px;
    --fs_lg: 22px;
    --fs_xl: 32px;
    --fs_xxl: 40px;
    --fs_2xl: 56px;
    --fs_3xl: 82px;
  }
}
/* =-=-=-=-=-=-=-=-=-=-=-FONT-SIZE-DEFINE =-=-=-=-=-=-=-=-=-=-=- */
.fs_xs {
  font-size: var(--fs_xs);
}

.fs_sm {
  font-size: var(--fs_sm);
}

.fs_md {
  font-size: var(--fs_md);
}

.fs_lg {
  font-size: var(--fs_lg);
}

.fs_xl {
  font-size: var(--fs_xl);
}
.fs_xxl {
  font-size: var(--fs_xxl);
}

.fs_2xl {
  font-size: var(--fs_2xl);
}

.fs_3xl {
  font-size: var(--fs_3xl);
}
/*=-=-=-=-=--==-=-=-=- FONT-WAIGHT-DEFINE =-=-=-=-=--==-=-=-=- */

.fw_regular {
  font-weight: var(--fw_regular);
}
/*=-=-=-=-=--==-=-=-=- FONT-FAIMLY-DEFINE =-=-=-=-=--==-=-=-=- */
.ff_inter {
  font-family: var(--ff_inter);
}

.ff_oregano {
  font-family: var(--ff_oregano);
}

/* =-=-=-=-=-=-=-=-=-=-=-=-COLORS-DEFINE =-=-=-=-=-=-=-=-=-=-=-=- */
.color_white {
  color: var(--color_white) !important;
}
.light_brown {
  color: var(--light_brown) !important;
}

/* =-=-=-=-=-=-==-=-=-=-=-COMMON-CLASSES =-=-=-=-=-=-==-=-=-=-=- */
.hero_heading {
  font-size: var(--fs_3xl);
  font-family: var(--ff_oregano) !important;
}
.main_heading {
  font-size: var(--fs_2xl);
  color: var(--light_brown);
  font-family: var(--ff_oregano) !important;
}
.para {
  font-size: var(--fs_sm) !important;
  font-weight: 400 !important;
  font-family: var(--ff_inter);
  opacity: 0.7;
}
.common_btn {
  font-size: var(--fs_sm);
  font-family: var(--ff_inter);
  color: var(--color_white);
  padding: 12px 30px;
  transition: 0.5s;
  border: 0.5 solid var(--light_brown);
  border-radius: 3px;
  background-color: var(--light_brown);
}
.common_btn:hover {
  color: var(--light_brown);
  background-color: var(--color_white);
  border: 0.5 solid var(--light_brown);
}
.opacity_7 {
  opacity: 0.8;
}
.opacity_8 {
  opacity: 0.7;
}
.m_y_2 {
  margin-top: -2px !important;
  margin-bottom: -2px !important;
}
.cursor_point {
  cursor: pointer !important;
}
.cards_shadow {
  background: #ffffff;
  box-shadow: 0px 15.7594px 53.2818px -22px rgba(0, 0, 0, 0.09);
}
.z_index_5 {
  z-index: 5;
}

/* ----------------------------Theyself------------------------------- */
.theyself_bg_clr {
  background: #fffbf5;
}
.thyself_bottom_set_plant {
  bottom: 8%;
}

/* ----------------------------Our-Mission------------------------------- */
.border_redius {
  border-radius: 15.009px;
}
.our_mission_side_dots {
  bottom: -10%;
}
/* ----------------------------We Offer-------------------------------- */
.img_zoom:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
} /*======================= CONTACT SECTION CLASSES ============================*/
.bg_contact {
  background: rgba(255, 251, 245, 1);
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: var(--fs_xs) !important;
  font-weight: 400;
  line-height: 1.5;
  color: #3a2314 !important;
  background-color: #fff;
  background-clip: padding-box;
  border: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background: #ffffff !important;
  /* box-shadow: 0px 9.89506px 24.0309px -5.65432px rgba(0, 0, 0, 0.25) !important; */
  border-radius: 5.65432px !important;
}
.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: var(--fs_sm) !important;
  font-weight: 500 !important;
  font-family: var(--ff_inter) !important;
  line-height: 1.5;
  color: var(--color_white) !important;
  text-align: center;
  white-space: nowrap;
  background-color: var(--light_brown) !important;
  border: 0.2px solid #3a2314 !important;
  border-radius: 3px !important;
  /* box-shadow: 0px 9.89506px 24.0309px -5.65432px rgba(0, 0, 0, 0.25) !important; */
}
.input-group-text:hover {
  color: var(--light_brown) !important;
  background-color: var(--color_white) !important;
  border: 0.2px solid #3a2314 !important;
}
.input-group-lg > .btn,
.input-group-lg > .form-control,
.input-group-lg > .form-select,
.input-group-lg > .input-group-text {
  padding: 15px 25px !important;
  font-size: 1.25rem;
  border-radius: -1.7rem;
  box-shadow: 0px 9.89506px 24.0309px -5.65432px rgba(0, 0, 0, 0.25) !important;
}
.input-group
  > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: -10px !important;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  z-index: 9;
}
/*======================= FOOTER CLASSES ============================*/
.bg_footer {
  background: var(--light_brown);
}
.footer_link {
  font-size: var(--fs_sm);
  font-weight: 400;
  font-family: var(--ff_inter);
  color: var(--color_white);
  opacity: 0.7;
}
.footer_link:hover {
  font-size: var(--fs_sm);
  font-weight: 400;
  font-family: var(--ff_inter);
  color: rgb(245, 137, 13);
}
.footer_under_line {
  padding-top: 5px;
  color: var(--color_white);
  border-top: 2px solid var(--color_white);
}
.footer_bottom_plant {
  bottom: 6%;
}
.footer_bottom_right_dots {
  bottom: 5%;
}
/* ----------------------------ALL-ANIMATIONS_KEYFRAMES------------------------------ */
.grow_shrink {
  animation: grow-and-shrink 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes grow-and-shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
.up_down_animation {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
.up_down_animation {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

/* ----------------------------BACK-TO-TOP_CSS------------------------------ */
#myBtn {
  /* display: none; */
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 16px !important;
  font-family: var(--ff_inter) !important;
  background-color: var(--light_brown);
  color: var(--color_white);
  cursor: pointer;
  padding: 6px;
  border-radius: 25px !important;
  border: 2px solid var(--color_white) !important;
  box-shadow: 0px 15.7594px 53.2818px -22px rgba(0, 0, 0, 0.09);
  animation: loading 3s ease-in-out infinite;
}
#myBtn:hover {
  background-color: var(--color_white);
  color: var(--light_brown);
  border: 2px solid var(--color-blue);
}
/*---------------------------- PRELODER-CSS------------------------------  */
#loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: var(--color-blue) !important;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 999999;
  overflow: hidden !important;
}
.loading_img {
  animation: loading 3s ease-in-out infinite;
}
@keyframes loading {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
/*--------------------------------------------- ALL_MEDIA_QUARIES-CSS --------------------------------------------- */
@media (min-width: 1800px) {
}
@media (max-width: 1799.98px) {
}
@media (max-width: 1599.98px) {
}
@media (max-width: 1399.98px) {
}
@media (max-width: 767.98px) {
}
@media (max-width: 575.98px) {
}
@media (max-width: 499.98px) {
}
@media (max-width: 399.98px) {
}
